<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>Rinko Base-Doc</string>
     <key>CFBundleIdentifier</key>
     <string>cn.electronicute.RinkoBase</string>
     <key>CFBundleVersion</key>
     <string>1.0.0</string>
     <key>DocSetFeedName</key>
     <string>Rinko Bot Project</string>
     <key>DocSetPublisherIdentifier</key>
     <string>cn.electronicute.Publisher</string>
     <key>DocSetPublisherName</key>
     <string>Electronicute</string>
     <key>DashDocSetFamily</key>
     <string>doxy</string>
     <key>DocSetPlatformFamily</key>
     <string>doxygen</string>
</dict>
</plist>
